.wellRow {
	display: flex;
	flex-direction: row;
}

.wellRow > * {
	flex: 1 1 auto;
}

.well {
	padding: 10px 15px;
	margin: 5px;
	background-color: #eee;
}

.well.pink {
	background-color: #e8bad6;
}

.well.purple {
	background-color: #e3ccef;
}

.wellItem {
	display: block;
}

.buttonWrapper {
    margin-top: 20px;
    text-align: right;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.success {
    background-color: #83e683;
}

/*don't do this at home*/
marquee {
	font-size: 100px;
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { opacity: 0; color: red; }
    50% { opacity: 1; color: blue; }
    100% { opacity: 0; color: red; }
}
@-moz-keyframes color-change {
    0% { opacity: 0; color: red; }
    50% { opacity: 1; color: blue; }
    100% { opacity: 0; color: red; }
}
@-ms-keyframes color-change {
    0% { opacity: 0; color: red; }
    50% { opacity: 1; color: blue; }
    100% { opacity: 0; color: red; }
}
@-o-keyframes color-change {
    0% { opacity: 0; color: red; }
    50% { opacity: 1; color: blue; }
    100% { opacity: 0; color: red; }
}
@keyframes color-change {
    0% { opacity: 0; color: red; }
    50% { opacity: 1; color: blue; }
    100% { opacity: 0; color: red; }
}
